{% extends "index.html" %}

{% block title %}
Tagged Posts: {{ term.name }} &middot; {{ super() }}
{% endblock title %}

{% block feed %}
  {% if config.generate_feed %}
  {% set feed_path = "tags/" ~ term.name ~ "/atom.xml" %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path=feed_path, trailing_slash=false) | safe }}">
  {% endif %}
{% endblock feed %}
{% block content %}

<h2>Tag: {{ term.name }}</h2>
<ul>
    {% for page in term.pages %}
    <li>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a> - <span class="link-meta">{{ page.date | date(format="%Y-%m-%d") }}</span>
    </li>
    {% endfor %}
</ul>

<a class="more" href="/tags">(All Tags)</a>

{% block extra_category %}
{% endblock extra_category %}

{% endblock content %}