<header class="site-header">

  <div class="wrapper">
      <div id="title">
        <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a></h1>
      </div>
      <hr>
      <nav>
        <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ "/blog/tags" | prepend: site.baseurl }}">Tags</a></li>
        <li><a href="{{ "/now" | prepend: site.baseurl }}">Now</a></li>
      </nav>
      <hr>
  </div>

</header>
