{% extends "index.html" %}
{% block extra_head %}
  <!-- Facebook open graph tags-->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.permalink | safe }}" />
  {% if page.title %} 
  <meta property="og:title" content="{{ page.title }}" />
  {% endif %}
  {% if page.summary %}
  <meta property="og:description" content="{{ page.summary }}" />
  {% elif page.description %}
  <meta property="og:description" content="{{ page.description }}" />
  {% endif %}
  <!-- Twitter card tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ page.permalink | safe }}" />
  {% if page.title %} 
  <meta name="twitter:title" content="{{ page.title }}" />
  {% endif %}
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary }}" />
  {% elif page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
  {% endif %}
  <meta name="twitter:creator" content="@ThatTJTelan" />
  <meta name="twitter:site" content="@ThatTJTelan" />
{% endblock extra_head %}
{% block content %}
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.draft %}<h2 class="draft-notice">This is post is still in progress</h2>{% endif %}
    <span class="post-meta">
        {{ page.reading_time }} min read
        &nbsp;&bull;&nbsp;
        {{ page.date | date(format="%Y-%m-%d") }}
        {% if page.taxonomies.categories %}
          &nbsp;&bull;
          {% for category in page.taxonomies.categories %}
          &nbsp;
          <a  href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">
              {{ category }}
            </a>
          {% endfor %}
        {% endif %}
        {% if page.taxonomies.tags %}
          &nbsp;&bull;
          {% for tag in page.taxonomies.tags %}
          &nbsp;
          <a  href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
              #{{ tag }}
            </a>
          {% endfor %}
        {% endif %}
      </span>

    {{ page.content | safe }}
</div>

<div class="blog-nav-footer">
    <hr/>
    {% if page.earlier %}
    <div class="previous-post">
        <p>Previous Post</p>
        <a href={{ page.earlier.permalink | safe }}>{{ page.earlier.title }}</a> <span>{{ page.earlier.date }}</span>
    </div>
    {% endif %}
    {% if page.later %}
    <div class="next-post">
        <p>Next Post</p>
        <a href={{ page.later.permalink | safe }}>{{ page.later.title }}</a> <span>{{ page.later.date }}</span>
    </div>
    {% endif %}
</div>
{% endblock content %}