{% extends "index.html" %}

{% block content %}
      {% set blog = get_section(path="blog/_index.md") %}
      <h2>All posts</h2>
      <a href="/categories">Categories</a>
      <a href="/tags">Tags</a>
      <br>
      <ul>
        {% for page in blog.pages %}
        <li>
          <a href="{{ page.permalink }}">{{ page.title }}</a> - <span class="link-meta">{{ page.date | date(format="%Y-%m-%d") }}</span> ({{ page.reading_time }} min) - 
          {% if page.extra %}{{ page.extra.summary }}{% endif %}
        </li>
        {% endfor %}
      </ul>
{% endblock content %}