{% extends "index.html" %}

{% block title %}
All Posts &middot; {{ super() }}
{% endblock title %}

{% block content %}
      {% set blog = get_section(path="blog/_index.md") %}
      <h2>All posts</h2>
      <a href="/categories">Categories</a>
      <a href="/tags">Tags</a>
      <br>
      <ul>
        {% for page in blog.pages %}
        <li>
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a> - 
          <span class="link-meta">
            {{ page.date | date(format="%Y-%m-%d") }} | 
            {{ page.reading_time }} min read 
             | 
            {% if page.taxonomies.tags %} tags: 
              {% for tag in page.taxonomies.tags %}
              <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
                  #{{ tag }}
                </a>
              {% endfor %}
            {% endif %}
          </span> <br>
          {% if page.description %}{{ page.description }}{% endif %}
        </li>
        {% endfor %}
      </ul>
{% endblock content %}