{% extends "index.html" %}

{% block content %}
<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    {% if page.draft %}<h2 class="draft-notice">This is post is still in progress</h2>{% endif %}
    <span class="post-date">
    {{ page.reading_time }} min read
    &nbsp;&bull;&nbsp;
    {{ page.date | date(format="%Y-%m-%d") }}
    {% if page.taxonomies.tags %}
        &nbsp;&bull;&nbsp;
        {% for tag in page.taxonomies.tags %}
        <a  href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">
            #{{ tag }}
        </a> &nbsp;
        {% endfor %}
    {% endif %}
    </span>

    {{ page.content | safe }}
</div>

<div class="blog-nav-footer">
    <hr/>
    {% if page.earlier %}
    <div class="previous-post">
        <p>Previous Post</p>
        <a href={{ page.earlier.permalink }}>{{ page.earlier.title }}</a> <span>{{ page.earlier.date }}</span>
    </div>
    {% endif %}
    {% if page.later %}
    <div class="next-post">
        <p>Next Post</p>
        <a href={{ page.later.permalink }}>{{ page.later.title }}</a> <span>{{ page.later.date }}</span>
    </div>
    {% endif %}
</div>
{% endblock content %}