---
layout: default
---
<section class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}</p>

    {% if page.tags %}
    <div class="tags">
      <p>Tags:</p>
      <ul>
      {% for tag in page.tags %}
        <li><a href="/blog/tags/#{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}

  </header>

  <article class="post-content">
    {{ content }}
  </article>
</section>

<nav class="post-nav">
  {% if page.previous %}
  <div class="post-nav-prev">
    <p><a href={{ page.previous.url }}>&lt; Previous post</a></p>
    <p class="post-nav-title">{{ page.previous.title }}</p>
  </div>
  {% endif %}
  
  {% if page.next %}
  <div class="post-nav-next">
    <p><a href={{ page.next.url }}>Next post &gt;</a></p>
    <p class="post-nav-title">{{ page.next.title }}</p>
  </div>
  {% endif %}
</nav>
